<form>
    <div class="container">
        <div style="text-align:center">
          <h2 class="jumbotron bg-secondary text-white">Make Recipe</h2>
        </div>
      </div>
      <table class="table">
        <tr>
          <td>
              <p class="p">
                  Create Recipe for Speciality ' {{this.speciality}} ' , Recipe Parent '{{this.recipeparent}}' and Recipe {{this.recipename}}
              </p> 
          </td>
        </tr>
        <tr>
          <td>
            <tabset #staticTabs>
                <tab heading="Table Selection">
                    <table>
                      <tr>
                        <td>
                            <div class="col-xs-2">
                                <label for="exampleInputEmail1">Select Table</label>
                                <input type="text" class="form-control" readonly name="exampleInputTable" id="exampleInputTable" [(ngModel)]="inputtable" placeholder="GIRFT_NCIP_RnD_BaseComponent">      
                          </div> 
                        </td>                      
                      </tr>
                      <tr>                     
                            <td>                          
                                <div class="col-xs-3">
                                    <label for="exampleSelect2">Select Columns</label>
                                    <angular2-multiselect [data]="dropdownList" name="ddlselect" [(ngModel)]="selectedItems" 
                                    [settings]="dropdownSettings" 
                                    (onSelect)="onItemSelect($event)" 
                                    (onDeSelect)="OnItemDeSelect($event)"
                                    (onSelectAll)="onSelectAll($event)"
                                    (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
                              </div>  
                            </td>
                        
                      </tr>
                    </table>            
                </tab>
                <tab heading="Attribute Selection">
                  <table>
                    <tr>
                      <td>
                          <div class="col-xs-2">
                              <label for="txtpriorty">Select Priorty</label>
                              <input type="text" class="form-control" name="txtpriorty" id="txtpriorty" placeholder="Enter Priorty">      
                        </div> 
                      </td>                   
                    </tr>
                    <tr>
                        <td>                            
                               <label for="exampleInputAttribute">Select Attribute</label>
                       </td>
                    </tr>     
                    <tr>
                      <td>
                          <input type="text" id="exampleInputAttribute" name="exampleInputAttribute" [(ngModel)]="selectedAttributes" placeholder="Attributes">
                               <button type="button" class="btn btn-primary" (click)="openModalWithComponent()">Add</button>
                      </td>
                    </tr>             
                  </table>                 
                </tab>             
              </tabset> 
            </td>
        </tr>
        <tr>
            <td>
                <div class="col-xs-2">
                <button type="submit" class="btn btn-primary" (click)="genquery()">Submit</button>
                <button type="button" class="btn btn-primary" (click)="backmove()">Back</button>
                </div>
            </td>                     
          </tr>
          <tr>
            <td>                
                 <label for="exampleTextarea">Display Query</label>
                 <textarea class="form-control" [(ngModel)]="query" name="exampleTextar" id="exampleTextarea" rows="3"></textarea>                
              
            </td>
          </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-primary" (click)="savedata()">Save</button>
                    <button type="button" class="btn btn-primary">Execute</button>
                </td>                         
            </tr>            
         
      </table>   
  </form>

 


