<div id="body">
    <div class="container">
        <div style="text-align:center">
          <h2 class="jumbotron bg-secondary text-white">Make Recipe</h2>
        </div>
      </div>
<div class="body-container row">   
  <tabset justified="true"   #staticTabs>   
      <tab heading="Select Column-Selection">
                           
                        <label for="exampleSelect2">Select Columns</label>
                        <angular2-multiselect [data]="dropdownList" name="ddlselect" [(ngModel)]="selectedItems" 
                        [settings]="dropdownSettings" 
                        (onSelect)="onItemSelect($event)" 
                        (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)"
                        (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>                   
             
      </tab>
      <tab heading="Select From-Selection">
                          
                        <label for="exampleInputEmail1">Select Table</label>
                        <input type="text" class="form-control" readonly name="exampleInputTable" id="exampleInputTable" [(ngModel)]="inputtable" placeholder="GIRFT_NCIP_RnD_BaseComponent">      
                
              
      </tab>
      <tab heading="Where Attribute-Selection">
          <table>             
                  <tr>
                      <td colspan="2">Priority</td>
                      <td colspan="2">Function</td>
                      <td colspan="2">Column</td>
                      <td colspan="2">Operator</td>                      
                      <td colspan="2">Value</td>
                      <td colspan="2">OrAnd</td>
                  </tr>             
             
                  <tr *ngFor="let field of fieldArray; let i = index">
                      <td colspan="2">
                          <input [(ngModel)]="field.Priority" type="text" name="{{field.Priority}}" />
                      </td>
                      <td colspan="2">
                          <input [(ngModel)]="field.FunctionAttribute" type="text" name="{{field.FunctionAttribute}}" />
                      </td>
                      <td colspan="2">
                          <input [(ngModel)]="field.Attribute"  type="text" name="{{field.Attribute}}" />
                      </td>
                      <td colspan="2">
                          <input [(ngModel)]="field.Condition"  type="text" name="{{field.Condition}}" />
                      </td>                     
                      <td colspan="2">
                          <input [(ngModel)]="field.Codegroup" type="text" name="{{field.Codegroup}}" />
                      </td>
                      <td colspan="2">
                            <input [(ngModel)]="field.AndOr" type="text" name="{{field.AndOr}}" />
                        </td>
                      <td colspan="2">
                          <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
                      </td>
                      
                  </tr>
                  <tr>
                      <td colspan="2">
                          <input type="text" id="txtpriorty" size="3" height="5" [(ngModel)]="newAttribute.Priority" name="txtpriorty" />
                      </td>
                      <td colspan="2">
                          <select id="ddlfunctioname" name="ddlfunctioname" [(ngModel)]="newAttribute.FunctionAttribute">  
                              <option value="0">--Select--</option>  
                              <option value="Left(_,4)">Left(_,4)</option>  
                              <option value="Right(_,4)">Right(_,4)</option>                            
                            </select> 
                      </td>
                      <td colspan="2">                          
                            <select id="ddlcolumnname" name="ddlcolumnname" [(ngModel)]="newAttribute.Attribute">  
                                    <option value="0">--Select--</option>
                                    <option *ngFor="let prod of dropdownList">{{prod.itemName}} </option>  
                            </select>  
                      </td>
                      <td colspan="2">
                            <select id="ddlfunctiovalue" name="ddlfunctiovalue" [(ngModel)]="newAttribute.Condition" >  
                                    <option value="--Select--">--Select--</option>  
                                    <option value="in">in</option>  
                                    <option value="=">=</option>                            
                                  </select>                          
                      </td>                     
                      <td colspan="2">
                            <select select id="ddlcolumnvalue" (change)="onSelect($event)" name="ddlcolumnvalue" [(ngModel)]="newAttribute.Codegroup">  
                                    <option value="0">--Select New--</option>
                                    <option *ngFor="let prod of dropdownvalues">{{prod}} </option>  
                            </select> 
                      </td>
                      <td colspan="2">
                            <select id="ddloperandname" name="ddloperandname" [(ngModel)]="newAttribute.AndOr" >  
                                    <option value="0">--Select--</option>  
                                    <option value="OR">OR</option>  
                                    <option value="AND">AND</option>                            
                                  </select>
                      </td>
                      <td>
                          <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
                      </td>
                  </tr>             
            </table>
      </tab>
  </tabset> 
</div>
<div class="footer-container row">
  <table>
      <tr align="right">
          <td>            
              <button type="submit" class="btn btn-primary" (click)="genquery()">Submit</button>              
              <button type="button" class="btn btn-primary" (click)="backmove()">Back</button>            
          </td>                     
        </tr>
        <tr>
          <td>                
               <label for="exampleTextarea">Display Query</label>               
          </td>
          <td>
                <textarea rows="4" cols="100" [(ngModel)]="query" name="exampleTextar" id="exampleTextarea"></textarea>                            
          </td>
          <td valign="bottom">
                <button type="button" class="btn btn-primary" (click)="savedata()">Save</button>
                <button type="button" class="btn btn-primary" (click)="moveon()">Execute</button>
            </td>
        </tr>
           
  </table>
</div>
</div>