<div class="modal-header">
    <h4 class="modal-title pull-left">Select Attribute</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<div class="modal-body">
  <table>
      <tr>        
        <td>
          <label for="Specialty">Attribute Name</label>
          <input type="text"  name="Specialty" [(ngModel)]="attributename"
          placeholder="Specialty"></td>  
      </tr>
      <tr>        
          <td>                          
              <div>
                  <label for="exampleSelect2">Select Columns</label>
                  <angular2-multiselect [data]="dropdownList" name="ddlselect" [(ngModel)]="selectedItems" 
                  [settings]="dropdownSettings" 
                  (onSelect)="onItemSelect($event)" 
                  (onDeSelect)="OnItemDeSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
            </div>  
          </td>    
      </tr>      
    </table> 
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="onclose()">{{closeBtnName}}</button>
  </div>